body{
    margin:5px;
    padding:0;
    background-color:#121222;
    color:white  !important;
}
nav {
    display:flex;
    flex-wrap: wrap;    
    background-color:rgb(40, 31, 84) !important;
    border-radius:20px;
    width:96%;
    margin:1%;
    padding:15px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
nav div{
    flex: 1 1 33%;
    font-size:25px;
    text-align:center;
}
.red{
    color:rgba(228, 225, 225, 0.841);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
nav div :hover,.red:hover{
    color:white;
    text-decoration:underline !important;
}
