nav {
    display:flex;
    flex-wrap: wrap;    
    background-color:rgb(37, 32, 32) !important;
    border-radius:20px;
    padding:10px;

}
nav div{
    flex: 1 1 33%;
    font-size:25px;
    text-align:center;
}
.red{
    color:grey;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
nav div :hover{
    color:white;
}
